---
- name: Include nvim tasks
  ansible.builtin.include_tasks:
    file: nvim.yml
    apply:
      tags:
        - full

- name: Include nvm tasks
  ansible.builtin.include_tasks:
    file: nvm.yml
    apply:
      tags:
        - full

- name: Include node tasks
  ansible.builtin.include_tasks:
    file: node.yml
    apply:
      tags:
        - full

- name: Include tldr tasks
  ansible.builtin.include_tasks:
    file: tldr.yml
    apply:
      tags:
        - full

- name: Include ansible-lint tasks
  ansible.builtin.include_tasks:
    file: ansible_lint.yml
    apply:
      tags:
        - full
