---
- name: Install bob-nvim using pipx
  ansible.builtin.shell:
    cmd: |
      source ~/.zprofile && pipx install bob-nvim
    executable: /bin/zsh
  register: bob_install
  changed_when: "'installed package bob-nvim' in bob_install.stdout"
  become: false

- name: Install and use stable Neovim via bob
  ansible.builtin.shell:
    cmd: |
      source ~/.zprofile && bob use stable
    executable: /bin/zsh
  register: bob_use
  changed_when: "'Installed' in bob_use.stdout or 'Now using' in bob_use.stdout"
  become: false
